/Ejercicios/EJ16-BuscarEnVector/nbproject/private/
/Ejercicios/EJ16-BuscarEnVector/build/
/Ejercicios/EJ13-Bucles-Asteriscos/build/
/Ejercicios/EJ17-BuscarCifras/nbproject/private/
/Ejercicios/EJ17-BuscarCifras/build/