/Ejercicios/EJ16-BuscarEnVector/nbproject/private/
/Ejercicios/EJ16-BuscarEnVector/build/
/Ejercicios/EJ13-Bucles-Asteriscos/build/
/Ejercicios/EJ17-BuscarCifras/nbproject/private/
/Ejercicios/EJ17-BuscarCifras/build/
/Ejercicios/EJ19-MatrizAntisimétrica/nbproject/private/
/Ejercicios/EJ19-MatrizAntisimétrica/build/
/Ejercicios/EJ20-CuadradoMágico/nbproject/private/
/Ejercicios/EJ21-BuscarMatrizEnMatriz/nbproject/private/